.add-row {
  td {
    border: 0;
  }
  .plus {
    max-width: 24px;
    width: 100%;
    margin-top: 6px;
    cursor: pointer;
    transition: all .3s;
    &:hover {
      background-color: #68ca95;
    }
  }
}