body {
  background: url("./ocean.jpeg") no-repeat center center;
  background-size: cover;
  backdrop-filter: blur(2px);
}

.table-wrap {
  max-width: 950px;
  padding: 10px;
  background: white;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 17px;
  background: rgba(255, 255, 255, 0.74);
  backdrop-filter: blur(2px);
}
